<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio performance</title>

    <style>
      .form label {
        display: block;
        margin: 0px 0px 15px 0px;

        width: 100px;
        font-weight: bold;
        float: left;
        padding-top: 8px;
        padding-right: 5px;
      }

      .form input {
        box-sizing: border-box;
        border: 1px solid #C2C2C2;
        box-shadow: 1px 1px 4px #EBEBEB;
        border-radius: 3px;
        padding: 7px;
        outline: none;
      }

      .form input:focus {
        border: 1px solid #0C0;
      }

      .form button {
        margin-top: 10px;
      }
    </style>
  </head>

  <body>
    <h1>Portfolio performance</h1>

    <form action="/" method="POST" class="form">
      <label name="balance">Balance:</input>
      <input name="balance" value="32500"></input>

      <label name="start_date">Start date:</input>
      <input name="start_date" value="2018-01-02"></input>

      <label name="current_date">Current date:</input>
      <input name="current_date" value="2019-06-20"></input>

      <label name="stock_name[]">Stock 1:</input>
      <input name="stock_name[]" value="AAPL"></input>

      <label name="stock_share[]">Stock 1 share:</input>
      <input name="stock_share[]" value="0.4"></input>

      <label name="stock_name[]">Stock 2:</input>
      <input name="stock_name[]" value="GOOG"></input>

      <label name="stock_share[]">Stock 2 share:</input>
      <input name="stock_share[]" value="0.6"></input>

      <button type="submit">Calculate</button>
    </form>
  </body>
</html>
