<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio performance</title>
  </head>

  <body>
    <h1>Results</h1>

    <div class="date">Date: <%= current_portfolio.date %></div>
    <div class="balance">Balance: <%= current_portfolio.balance %></div>
  </body>
</html>
